
<!-- <table border="2px">
    <thead>
        <tr>
            <th>Product ID</th>
            <th>Product Name</th>
            <th>Product Price</th>
            <th>Product Brand</th>
            <th>Product Quantity</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let prod of productList" >
            <td>{{prod.productId }}   </td>
            <td>{{prod.productName}}   </td>
            <td>{{prod.productPrice}}  </td>
            <td>{{prod.productBrand }}</td>
            <td>{{prod.productQuantity}}</td>
            <td><button (click)="reduceQuantity(prod.productId)">sell</button></td>
            
            </tr>
        
    </tbody>
</table> -->

<!-- grid creation for productList -->

<select (change)="getProductsByBrand($event)">
    <option value="">-------select something------</option>
    <option value="note 7">note 7</option>
    <option value="note 8">note 8</option>
    <option value="note 10">note 10</option>
</select>
<ag-grid-angular
    style="width: 100%; height: 100%"
    class="ag-theme-alpine"
    [columnDefs]="columnDefs"
    [defaultColDef]="defaultColDef"
    [rowData]=" filteredProductList"
    [rowSelection]="'multiple'"
    [animateRows]="true"
   ></ag-grid-angular>

  

