<!-- create grid based on selection -->

<select (change)="getDataBase($event)">
    <option value="">-------select something------</option>
    <option [value]="dbType" *ngFor="let dbType of filteredDataType">{{dbType}}</option>
</select>
<select (change)="getTableData($event)" >
    <option value="">-------select something------</option>
    <option [value]="db.dbName" *ngFor="let db of filteredDataBase">{{db.dbName}}</option>
</select>
 <select (change)="getColumnData($event)" >
    <option value="">-------select something------</option>
    <option [value]="ds.dsName" *ngFor="let ds of dataSource">{{ds.dsName}}</option>
</select> 

<app-grid [gridColumnList]="columnDefs" [gridDataList]="array" [gridConfig]="defaultColDef"></app-grid>

<!-- <ag-grid-angular
    style="width: 50%; height: 50%"
    class="ag-theme-alpine"
    [columnDefs]="columnDefs"
    [defaultColDef]="defaultColDef"
    [rowData]="array"
    [rowSelection]="'multiple'"
    [animateRows]="true"
   
  ></ag-grid-angular> -->
